.card {
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 4px;
  margin: 15px 15px 8px 8px;
 
}

.card-body {
  display: flex;
  padding: 0.5rem;
}

h3 { 
  font-size: 24px;
  margin: 1rem;
}

img {
  max-height: 150px;
  padding: 0.5rem;
}
.meta-info {
  color: grey;
  margin-top: -28px;
  font-size: 14px;
  margin: 1rem;
}

.continue-reading {
  font-style: italic;
  color: aquamarine;
  margin: 1rem 1rem 1rem 1rem;
 
}
 p {
  margin: 1rem;
 }